.managePortletsAboveLink, 
.managePortletsBelowLink,
.manageFooterPortletsLink,
.manageInHeaderPortletsLink,
.managePortletsBelowTitleLink { 
    text-align: center; margin: 0 auto 1em; clear:both;
    padding: 0.25em 0.5em;
    margin: 0 auto 1em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

.portlet-manager-row .portlet-well_manager { width: 30%; float:left; margin:1%; }
.portlet-manager-row { width:100%; float:left; }

.portlet-manager-row .portlet-well_manager {
    background-color: #d3d3d354;
    border-radius: 4px;
    padding: 0 1rem;
}
.portlet-manager-row .portlet-well_manager.contentwellportlets h2{
    margin-top: 0.5rem;
}

.contentwellportlets.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal; 
    margin: auto 0;
    --gap: 0.2em;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
}

.contentwellportlets.row div{
    flex-grow: 1;
    --gap: 0.2em;
   margin: var(--gap) 0 0 var(--gap);
}

/* This prevent the pollution of CWP portlet managers in the manage-portlet toolbar menu'*/
#edit-zone ul.plone-toolbar-main li.plonetoolbar-portlet-manager > a[id^="portlet-manager-ContentWellPortlets"] {
    display: None !important;
    visibility: hidden!important;
}